
<script>
    $(function(){
        $(".typed").typed({
            strings: ["sharper feedback.", "stronger ideas.", "more inspirations.","better insights."],
            typeSpeed: 60
        });
    });
</script>

<!-- Hero section -->
    <section class="hero">
 
    <div class="container">


        <h1 style="display:inline;float:none;">Share <em>smarter screenshots.</em> <br />Get back <em class="typed">sharper ideas.</em></h1>

     
         <img style="float:right;margin-right:-30%;margin-top:0px;" src="/static/img/home/small0mac-iphone-footer.png" width="800" alt="">

 
        <div id="home-tagline">


        <p>Prism helps you quickly and easily find, capture &amp; share inspirations, ideas and insights between your team, your users and your community by providing a private space for context-rich visual communication and collection of feedback.</p>


        <div class="btn-group">
            <a target="_self" href="/register" class="btn btn-primary">Signup now</a>
            <a href="#tour" class="btn btn-secondary">Take a tour</a>
        </div>

    	</div>





    </div>


</section>
    <!-- End of hero section -->

    <!-- Faq section -->
    <section class="faq alternate">
    <div class="container">
        <div class="faq-item">
            <span class="ss-icon ss-gizmo ss-chat"></span>
            <h3>Why use a tool like Prism?</h3>
            <p>Built for transparent product makers &amp; and teams who crave feedback, prism is not only good for capturing bugs and screenshots of product designs. We’ve built it to allow for anyone to quickly &amp; share their own unique perspective in a more visual way.</p>
        </div>
        <div class="faq-item">
            <span class="ss-icon ss-gizmo ss-layergroup"></span>
            <h3>How do i get started using Prism?</h3>
            <p>Simply <b><a target="_self" href="/register">sign up here</a></b> to create an account.<br /> We’ve also built our own <strong>Prism Lens</strong> iOS app and Google Chrome web extension for snapping and sharing screenshots straight to prism in a jiffy.</p>
        </div>
        <div id="tour" class="faq-item">
            <span class="ss-icon ss-gizmo ss-share"></span>
            <h3>What platforms does Prism integrate with?</h3>
            <p>Prism integrates nicely with most of the popular communication tools you are already using today like <strong>slack</strong>, <strong>trello</strong>, <strong>jira</strong> &amp; over email as well as social platforms like <strong>twitter</strong>, <strong>pinterest</strong> and <strong>facebook</strong>.</p>
        </div>
    </div>
</section>
    <!-- End of faq section -->

    <!-- Features section -->
    <section  class="feature feature-1 align-left">
    <div class="container">
        <div class="feature-image">
            <img class="portrait" src="/static/img/home/iphone-section01.png" width="467" height="530" alt="">
        </div>
        <div class="feature-content">
            <h2><em>Give more contextual feedback</em> to your  design &amp; engineering teams.</h2>
            <ul class="checklist">
                <li>Easily capture and share contextual (in-app) feedback for your team that includes relevant details like browser/OS version as well as error location.</li>
                <li> Collect each idea, insight, issue onto a customized Prism board, or send them straight to slack, trello or via email.</li>
            </ul>
            <hr>
            <blockquote>
                <p>“Prism is key for us in terms of getting high fidelity customer feedback.”</p>
                <footer><img src="/static/img/home/olof_2x.png" width="39" height="39" alt=""><span>Olof Mathe, <a href="http://mixmax.com">@ MixMax</a></span></footer>
            </blockquote>
        </div>
    </div>
</section>
<section class="feature feature-2 align-right alternate">
    <div class="container">
        <div class="feature-image">
            <img class="landscape" src="/static/img/home/iphone-mac-growth.png" width="707" height="481" alt="">
        </div>
        <div class="feature-content">
            <h2>Generate more <em>growth ideas</em> by collecting inspirations.</h2>
            <ul class="checklist">
                <li>Prism allows you and your team to collect and share inspirations for new growth tactics and product features that you come across.</li>
                <li>Track your competitor value propositions  and compare feature sets.</li>
            </ul>
            <hr>
            <blockquote>
                <p>“Using Prism has allowed us to collect everyone’s ideas in one place.”</p>
                <footer><img src="/static/img/home/ross_2x.png" width="39" height="39" alt=""><span>TJ Ross, <a href="http://43layers.com">@ 43 Layers</a></span></footer>
            </blockquote>
        </div>
    </div>
</section>
<!--<section class="feature feature-3 align-left">
    <div class="container">
        <div class="feature-image">
            <img class="portrait" src="/static/img/home/iphone-section03.png" width="467" height="530" alt="">
        </div>
        <div class="feature-content">
            <h2>Benefit from <em>increased social engagement</em> &amp; sharing. </h2>
            <ul class="checklist">
                <li>Give users an easy way to capture &amp; share inspiring moments like high scores, creations, or simply funny quotes or images. </li>
                <li> We automagically embed a link back to your website or app in the share text.</li>
            </ul>
            <hr>
            <blockquote>
                <p>“We’ve seen a +300% lift in overall social sharing from users screenshots as a result of using Prism.”</p>
                <footer><img src="/static/img/home/sean_2x.png" width="39" height="39" alt=""><span>Sean Tan Ying Quan, <a href="">Chief Green Pea @ Green Pea Cookie</a></span></footer>
            </blockquote>
        </div>
    </div>
</section>-->
    <!-- End of features section -->

    <!-- CTA section -->
    <section class="cta alternate">
    <div class="container">
        <h2>See how people using Prism right now.</h2>
        <div class="btn-group">
        	 <a target="_self" href="/discover" class="btn btn-secondary">Browse Collections</a>
        </div>
    </div>
</section>


    <!-- End of cta section -->

    <!-- Tools section -->
    <section class="tools">
    <div class="container">
        <h2>Ready to simplify your visual communication?</h2>
      

 <section class="cta" style="background-image:none;padding-top:0;">
    <div class="container">
        <div class="btn-group">
          <a target="_self" href="/register" class="btn btn-primary">Signup now</a>
        </div>
    </div>

    <br />    <br />

        <img src="/static/img/home/small0mac-iphone-footer.png" width="436" height="223" alt="">


</section>


    

        <h3>Check out our other tools for taking smarter screenshots.</h3>
        <ul>
            <li>
                <span class="ss-icon ss-gizmo ss-smartphone"></span>
                <h4>Prism Lens for iOS</h4>
                <p>Coming soon: Smarter screenshots for your iPhone.</p>
            </li>
            <li>
                <span class="ss-icon ss-gizmo ss-share"></span>
                <h4>Prism Lens for Chrome</h4>
                <p>Coming soon: Smarter Screenshots straight from your browser.</p>
            </li>
            <li>
                <span class="ss-icon ss-gizmo ss-globe"></span>
                <h4>Prism Web SDK</h4>
                <p>Coming soon: Smarter Screenshots for your website.</p>
            </li>

        </ul>
    </div>
</section>
