<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="post">
          <div class="delete-btn input-group-btn"  data-ng-if="post.author.username==username">
            <span class="caret  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" ng-click="vm.submit(post.id)" href="#">Delete</a></li>
              <!--<li class="disabled"><a tabindex="-1" ng-click="vm.edit(post.id)" href="#">Edit</a></li>-->
            </ul>
          </div>

          <div class="post__content">
            <!--<h3 class="post__title" ng-bind-html="post.title"></h3>-->
            <a href="post/{{ post.id }}" class="pop-lightbox">
            <div class="post__image__container">
            <div class="post__image" ng-bind-html="post.image"></div>
            <!--<div class="post__overlay"></div>
            <div class="post__gradient"></div>-->
            </div>
            </a>
            <div class="post__desc" ng-bind-html="post.description"></div>
            <div class="post__link" ng-hide="post.report_link == ''" >link: 
              <a href="{{ post.report_link }}" ng-bind-html="post.report_link" target="_blank">
                {{ post.report_link }}
              </a>
            </div>

          </div>
      </div>
      
      <div class="card__actions" ng-show="vm.isAuthenticated">
        <div class="post__meta">
               By {{ post.author.username }}, {{ post.created_at | fromNow}}
        </div>

          <a href="#" class="action-fav" ng-click="vm.like_unlike(post.id)">
          <a href="#" class="action-fav action-fav-{{ post.id }}" ng-click="vm.like_unlike(post.id)">
           <div class="icon icon-float-left ss-up"></div>
           <div class="icon icon-liked icon-float-left ss-up"></div>
          </a>
          <span class="count">{{ like_count }}</span>
          &nbsp;
          <a href="#" class="card__comment action-reply">
            <div class="chat-icon icon icon-float-left ss-chat"></div>
          </a>
          <span class="count">{{ comment_count }}</span>
      </div>
      <!--<div class="board__link" ng-show="post.board.length" ng-cloak>
          Added to : "<a href="{{ post.board_url }}" ng-bind-html="post.board_title" target="_blank">{{ post.board_title }}</a>"
      </div>-->
      <div class="well comments" ng-show="vm.isAuthenticated">
          <comments post="post"></comments>
      </div>
      
    </div> <!-- end card -->

  </div>

</div>