<header class="navbar navbar-default" ng-controller="HomeNavbarController as vm">
    <div class="container">
        <a href="/" target="_self" class="logo">Prism.io Logo</a>
        <nav class="menu-main-navigation-container">
        <ul id="menu-main-navigation" class="menu">
            <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a target="_self"  href="/discover">Community</a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a target="_self" href="/about">About</a></li>
            <li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a target="_self" href="/api">API</a></li>
            <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="/register" target="_self"><b style="color:#A36AEB;">Sign Up</b></a></li>
            <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="/login" target="_self">Sign in</a></li>

        </ul>
        </nav>
    </div>
</header>
