{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-loading-bar/build/loading-bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-scrollbar/dist/ng-scrollbar.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/material-design-icons/sprites/css-sprite/sprite-av-black.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/material-design-icons/sprites/css-sprite/sprite-action-grey600.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-material/angular-material.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/ss-gizmo/ss-gizmo.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrapSelect/bootstrap-select.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font-awesome-4.2.0/css/font-awesome.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font-awesome-4.2.0/css/font-awesome.min.css' %}" />
{% endcompress %}
