<div class="row">
  <div class="col-md-6 col-md-offset-3 login-layout">
    <p align="center"><img align="center" src="/static/img/logo-large-grad.png" alt="Prism" /> </p>
    <h1><center>Login to Prism</center></h1>
      <p><center>To start sharing insights, instantly.</center></p>

      <br />      <br />




 <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6"  style="text-align:center;border-right:1px solid #e2e2e2;">

<div class="row">

  <div class="col-sm-12">
      <!--<a class="btn btn-primary btn-active" style="border:1px solid #CCC;" href="/login/twitter/" ng-click="vm.socialLogin($event, 'twitter')">Login with Twitter</a>
      <br />-->
      <a class="btn btn-primary btn-active" style="border:1px solid #CCC;" href="/login/slack/" ng-click="vm.socialLogin($event, 'slack')">&nbsp;&nbsp;Login with Slack&nbsp;&nbsp;</a>
      <br />
      <a class="btn btn-primary btn-active" style="border:1px solid #CCC;" href="/login/google-oauth2/" ng-click="vm.socialLogin($event, 'google-oauth2')">Login with Google</a>
      <br /><br />
      <!--<div>
          Don&rsquo;t have an account yet?<br /><a href="/register">Sign up here</a>.
      </div>-->

      </div>
    </div>

  </div>

   <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">

<div class="row">

  <div class="col-sm-12">
    <h3>Login</h3>
      <form class="form-auth" role="form" ng-submit="vm.login()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <input type="text" class="form-control" id="login__email" ng-model="vm.email" placeholder="Email" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="Password" />
        </div>

        <div class="form-group">
          <button type="submit" style="float:right;width:50%;border:1px solid #CCC;" class="btn btn-default btn-primary">Log in</button>
        </div>
      </form>

      <a href="javascript:void(0)"  style="color:#999999;" ng-click="vm.forgot_password()">Forgot password?</a>
      
    
    </div><!-- end row -->
    </div><!-- end col -->

    <div class="clearfix"></div>

    </div>
  </div>
</div>
